<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSection>
    <section name="nlog" type="NLog.NLogConfig.ConfigSectionHandler,NLog"/>
  </configSection>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets async="true">
      
     
    <target name="logFileTarget"
              xsi:type="File"
              layout="${longdate}|${level:uppercase=true}|${message}"
              fileName="C:\Logs\${date:format=yyyy-MM-dd}_odecCategoryDALTesterLogs.txt"
              createDirs="true"
              deleteOldFileOnStartup="true"
            />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logFileTarget" />
      <!--<logger name="*" minlevel="Trace" writeTo="dbTarget" />-->

    </rules>
  </nlog>
</configuration>